/*---Fonts---*/
  @font-face {
    font-family: 'chicagoflfregular';
    src: url('fonts/chicagoflf-webfont.woff') format('woff'),
        url('fonts/chicagoflf-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'torrancemedium';
    src: url('fonts/torrance-lgzl0-webfont.woff2') format('woff2'),
        url('fonts/torrance-lgzl0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  :root {
    --font-family: "chicagoflfregular", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #000000;
    --secondary-color: rgb(144,215,236);
    --third-color: rgb(244,154,194);
    --fourth-color: rgb(249,235,105);
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #000000;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    margin: 0;
    padding: 2;
    box-sizing: border-box;
  }


/*---Body Presets--*/

  a {
    font-family: 'torrancemedium';
      font-weight:normal;
      font-style:normal;
    text-decoration: none;
    color: var(--secondary-color);
  }

  a:hover {
    color: var(--fourth-color);
  }

  a:visited {
    color: var(--third-color);
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-family);
  }
/*
  .box {
    border: 5px solid rgb(0, 0, 0);
    background-color: lightgray;
    padding-left: 1rem;
    padding-top: 1rem;
    margin: 2rem;
    width: 10rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
*/
  
  hr {
    border-bottom: dashed 1px #000000;
  }
  
  p{
      font-family: 'torrancemedium';
      font-weight:normal;
      font-style:normal;
  }
  
  ul {
      list-style-type: circle;
  }

/*---Navbar---*/

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  font-family: var(--font-family);
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:link,
a:visited {
    color: var(--primary-color);
  }

nav a:hover {
    border-bottom: 2px solid var(--secondary-color);
}

nav h1 {
  font-family: var(--font-family);
  color: var(--primary-color);
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}
/* Navbar ends */


/*-----BLOCK CONTENTS & CLASSES-----*/


.rainbow {
  padding-left: 1em;
  text-align: left;
  text-decoration: underline;
  font-size: 32px;
  font-family: monospace;
  letter-spacing: 5px;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}


/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */


/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

}

