/*---Fonts---*/
  @font-face {
    font-family: 'chicagoflfregular';
    src: url('fonts/chicagoflf-webfont.woff') format('woff'),
        url('fonts/chicagoflf-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'torrancemedium';
    src: url('fonts/torrance-lgzl0-webfont.woff2') format('woff2'),
        url('fonts/torrance-lgzl0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  :root {
    --font-family: "chicagoflfregular", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #000000;
    --secondary-color: rgb(144,215,236);
    --third-color: rgb(244,154,194);
    --fourth-color: rgb(249,235,105);
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #000000;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
  }

  html {
    scroll-behavior: smooth;
    margin: 0;
  }

* {
  padding: 0;
  margin: 0;
}

/*---Body Presets--*/

  a {
    font-family: 'torrancemedium';
      font-weight:normal;
      font-style:normal;
    text-decoration: none;
    color: var(--secondary-color);
  }

  a:hover {
    color: var(--fourth-color);
  }

  a:visited {
    color: var(--third-color);
  }

  h1 {
    font-family: var(--font-family);
    color: var(--primary-color);
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-family);
  }

  hr {
    border-bottom: dashed 1px #000000;
  }
  
  p{
      font-family: 'torrancemedium';
      font-weight:normal;
      font-style:normal;
  }
  
  ul {
      list-style-type: circle;
  }

/*---Navbar---*/

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: right;
}

nav a {
  font-family: var(--font-family);
  color: var(--primary-color);
  transition: var(--transition);
}

nav a:link,
a:visited {
    color: var(--primary-color);
  }

nav a:hover {
    border-bottom: 2px solid var(--secondary-color);
}


nav ul {
  text-align: right;
  list-style-type: none;
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  display: inline-block;
  font-weight: var(--bold-font);
}


/* Hamburger Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  display: none;
}

.hamb-line {
  background: var(--primary-color);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

}

.hamb-line::before,
.hamb-line::after{
  background: var(--primary-color);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hides the checkbox */

/* Toggle Menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}
/* Navbar ends */


/*-----BLOCK CONTENTS & CLASSES-----Main Page-----*/
.hello-text {
  z-index:0;
  margin: 4rem;
  text-align: left;
  position: relative;
  color: var(--primary-color);
}
.hello_h2 {
  font-size: 4.5rem;
}
.hello_desc {
  font-size: 2rem;
  margin-bottom: 4rem;
}

a.resumebtn {
  margin-left: 2rem;
  font-size: larger;
  padding:0.35em 1.2em;
  border:0.1em solid #000000;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'chicagoflfregular';
  font-weight: 500;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  }
    a.resumebtn:hover{
    color:#ffffff;
    background-color:#000000;
    }
    @media all and (max-width:30em){
    a.button1{
    display:block;
    margin:5rem auto;
    }
    
}

.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

/*-----BLOCK CONTENTS & CLASSES-----About Me-----*/

.introduction-section,
.location-section,
.questions-section {
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}

.introduction-section > p,
.location-section > p,
.questions-section > p {
  font-weight: 300;
}

.introduction-section > h1,
.location-section > h1,
.questions-section > h1{
  font-size: xx-large;
  margin: 1em;
}

.introduction-section > h2,
.location-section > h2,
.questions-section > h2{
  font-size: large;
  margin: 2em;
}




/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */


/* Media queries for Mobile View */
@media screen and (max-width: 720px) {

  nav ul {
    background-color: var(--bg-color);
    width: 100%;
    position: absolute;
    top: 8.45rem;
    right: 0;
    z-index: 2;
    padding: 0px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  nav ul li {
    display: block;
    padding:10px;
  }

  #menuList {
    margin: 0;
    overflow: hidden;
    transition: 0.5s;
  }


  .hello_h2 {
    font-size: 3rem;
  }
  .hello_desc {
    font-size: 1.5rem;
  }

  .hamb{
    display: block;
  }
}

