/* Old Styling
.blockstyle {
    height: 500px;
    width: 600px;
    overflow: auto;
}

.blockstyle *{
    box-sizing: border-box;
}

.blockstyle ul{
    padding-left: 0;
}

.blockstyle li{
    display: block;
    float: left;
    width: 25%;
    border: 2px solid white;
    padding: 5px;
    height: 40px;
    background-color: #4a2db6;
    color: white
}

ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
*/

/* Old CSS
html {
    font-family: sans-serif;
  }
  
  h2 {
    font-size: 16px;
  }
  
  .a11y-label {
    margin: 0;
    text-align: right;
    font-size: 0.7rem;
    width: 98%;
  }
  
  body {
    margin: 10px;
    background: #f5f9fa;
  }
  */


  