@font-face {
    font-family: 'mangat';
    src: url('../../fonts/mangat.woff') format('woff'),
        url('../../fonts/mangat.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  
  body {
    background-color: white;
    font-family: 'mangat', sans-serif;
    /* Smoothly transition the background color */
    transition: background-color .5s;
    }
     
  h1,h2 {
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  